{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manager Dashboard v1.0</title>
	<link rel="stylesheet" href="{% static "css/foundation.css" %}">
	<link rel="stylesheet" href="{% static "css/app.css" %}">
	<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}">
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
</head>
<body>
	{%  block main_wrapper %}
	{% endblock %}

	<script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>